/* Resets, Variables, Fonts */

@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

:root {
  --primary-text: hsl(0, 0%, 100%);
  --secondary-text: hsl(218, 5%, 47%);
  --tag-text: hsl(216, 4%, 74%);
  --chat-text: hsl(218, 5%, 47%);
  --message-text: hsl(210, 3%, 87%);
  --primary-accent: hsl(235, 86%, 65%);
  --bg-color: hsl(216, 7%, 14%);
  --sidebar-bg-color: hsl(223, 7%, 20%);
  --sidebar-hover: hsl(220, 8%, 21%);
  --main-bg-color: hsl(220, 8%, 23%);
  --footer-bg-color: hsl(206, 9%, 15%);
  --chat-bg-color: hsla(0, 0%, 100%, 0.05);
  --green: hsl(153, 46%, 49%);
  --hyperlink: hsl(191, 90%, 41%);
  --code-bg-color: hsl(223, 7%, 20%);
  --code-border-color: hsl(216, 7%, 14%);
  --tooltip-color: hsl(225, 8%, 10%);
  --transition: all ease 250ms;
}

*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: #fff;
  height: calc(100vh - 1rem);
  font-family: sans-serif;
}

body::before {
  content: "CL Blog";
  position: absolute;
  font-size: 0.6rem;
  font-family: 'Seymour One', sans-serif;
  padding: 0.25rem 0.6rem;
  color: #72767D;
}

#root {
  display: flex;
  position: relative;
  top: 1rem;
}

a {
  position: relative;
  text-decoration: none;
  color: inherit;
}